@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

/* Loader start */
/* HTML: <div class="loader"></div> */
/* From Uiverse.io by satyamchaudharydev */
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #2E6734;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #2e67344d;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
/* Loader end */

.mySwiper .swiper-pagination-bullet {
  background-color: #2e67349d; /* Change to your desired color */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #2e6734; /* Change to your desired active bullet color */
}
