@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

/* Loader start */
/* HTML: <div class="loader"></div> */
.loader {
  width: 150px;
  height: 20px;
  background: 
    linear-gradient(90deg,rgba(255, 255, 255, 0.067) 33%,rgba(255, 255, 255, 0.333) 50%,rgba(255, 255, 255, 0.067) 66%)
    #000;
  background-size:300% 100%;
  animation: l1 .8s infinite linear;
}
@keyframes l1 {
  0% {background-position: right}
}
/* Loader end */

.mySwiper .swiper-pagination-bullet {
  background-color: #2e67349d; /* Change to your desired color */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #2e6734; /* Change to your desired active bullet color */
}
